thera_mini
thera_mini_clean.c
thera_mini_clean_*.c
thera_mini_minimized
thera_mini_minimized.c
thera_mini_formatted
thera_mini_formatted.c
train_nn

.cache/
backups/
compile_commands.json

UHO_Lichess_4852_v1.epd
lichess_db_eval.jsonl.zst
lichess_db_eval.jsonl
lichess_db_eval_processed.raw
lichess_db_eval_processed.bin
